{% extends "Masterpage.html" %}
{% block content %}

	<!--CREATE START-->
	<div id="create" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="page-title text-center ">
					<h1>Create New Voting</h1>
					<hr class="pg-titl-bdr-btm">
					</hr>
				</div>
				<div>
					<p id="accountAddress"></p>
				</div>
				<div id="sendmessage"></div>
				<div id="errormessage"></div>

				<div class="form-sec form-sec1">
					<form action="" method="post" role="form" class="contactForm" id="createForm">

						<div class="col-md-12 form-group">
							<label for="voteName">Voting Name</label>
							<input type="text" name="eName" class="form-control text-field-box" id="eName" placeholder="Your Voting Name"
							 required />
						</div>

						<div class="col-md-12 form-group">
							<table>
								<tr>
									<td><label for="start">Start</label></td>
									<td><label for="end">End</label></td>
								</tr>
								<tr>
									<td><input id="startDate" type="button" class="datetimepicker form-control text-field-box" name="start" value="Select time"
										 required style="margin-right: 29px" /></td>
									<td><input id="endDate" type="button" class="datetimepicker form-control text-field-box" name="end" value="Select time"
										 required style="margin-right: 29px" /></td>
								</tr>
							</table>
						</div>
					</form>

					<div class="col-md-12 form-group">
						<label for="candidate">Candidates List</label>
						<ul class="nav nav-pills nav-color">
							<li class="active"><a data-toggle="pill" href="#onebyone">Enter one by one</a></li>
							<li><a data-toggle="pill" href="#uploadfile">Upload Proposals & Voters</a></li>
						</ul>

						<div class="tab-content ">
							<div id="onebyone" class="tab-pane fade in active">
								<table>
									<tr>
										<td class="col-md-1 candi_input">
											<input type="text" class="form-control text-field-box" name="candidateName" id="candidateName" placeholder="Candidate Name"
											 required />
										</td>
										<td class="col-md-1 candi_input">
											<input type="text" class="form-control text-field-box" name="candidateAdd" id="candidateAdd" placeholder="Address Candidate"
											 required />
										</td>
										<td class="col-md-1 candi_input">
											<button class="plus button-mini" name="plus"> + </button>
										</td>
									</tr>
								</table>
							</div>
							<div id="uploadfile" class="tab-pane fade">

								<table>
									<form id="upload_csv" method="post" enctype="multipart/form-data">
										<tr>
											<td><label>Choose Proposals</label></td>
											<td><input type="file" name="csv_file" id="csv_file" class="col-xs-12 col-md-11" style="margin-right: 48px" /></td>
										</tr>
									</form>
									<div class="table-responsive">
										<table class="table table-striped table-bordered" id="data-table">
											<thead>
												<tr>
													<th>Candidate Name</th>
													<th>Candidate Address</th>
												</tr>
											</thead>
											<tbody>

											</tbody>
										</table>
									</div>
								</table>

								<table>
									<form id="upload_csv" method="post" enctype="multipart/form-data">
										<tr>
											<td><label>Choose Voters</label></td>
											<td><input type="file" name="csv_file_voter" id="csv_file_voter" class="col-xs-12 col-md-11" style="margin-right: 48px" /></td>
										</tr>
									</form>
									<div class="table-responsive">
										<table class="table table-striped table-bordered" id="data-table-voter">
											<thead>
												<tr>
													<th>List Addresses</th>
												</tr>
											</thead>
											<tbody>

											</tbody>
										</table>
									</div>
								</table>
							</div>

						</div>
					</div>
					<div class="col-md-12 form-group">
						<button class="button-medium" id="launch-submit" name="launch" onclick="clickLaunch()">Launch</button>
						<!-- <p class="electionAdd" style="display: none; color: red;"></p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--CREATE END-->

	<!--CTA1 START-->
	<div class="cta-1">
		<div class="container">
			<div class="row text-center white">
				<h1 class="cta-title">Safe Security Save</h1>
				<p class="cta-sub-title">Why don't you create your own vote right now?</p>
			</div>
		</div>
	</div>
	<!--CTA1 END-->

	<!--SEARCH START-->
	<div id="search" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="page-title text-center">
					<h1>Search Voting</h1>
					<hr class="pg-titl-bdr-btm">
					</hr>
				</div>
				<div id="errormessage"></div>

				<div class="form-sec form-sec1">
					<form autocomplete="off" action="" role="form" class="contactForm" >
						<div class="col-md-12 form-group">
							<label for="voteAdd">Enter Voting Name</label>
							<table>
								<tr>
									<td class="col-xs-11 col-md-8 candi_input autocomplete"><input type="text" class="form-control text-field-box" name="electionAdd"
										 id="electionAdd" placeholder="Search by Voting Name" data-msg="Please press load to load address" /></td>
									<td class="col-xs-1 col-md-1 candi_input"><button class="button-mini" id="search-submit" type="button" onclick="research()" name="search">Search</button></td>
								</tr>
							</table>
							<div class="validation"></div>
						</div>

						<div class="col-md-12 form-group">
							<label for="search">Search Result</label>
							<table class="table table-bordered">
								<tr>
									<th>Voting Name</th>
									<th>Voting Address</th>
									<th>Creator Address</th>
									<th>Information</th>
								</tr>
								<tr>
									<td><a href="#information" id="vtName"></a></td>
									<td id="vtAddr"></td>
									<td id="creatorAddr"></td>
									<td>
										<button type="button" class="button-mini" data-toggle="modal" data-target="#myModal">Result</button>
										<button class="button-mini" id="finish" name="finish">Finish</button>
										<p style="font-weight: bold">Time Remaining:</p>
										<p id="countdown"></p>
									</td>
								</tr>
								<tr>
									<div class="validation"></div>
								</tr>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--SEARCH END-->

	<!--POPUP START-->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog vertical-align-center" style="display: table;vertical-align: middle;">

			<!--    Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<img src="../static/img/logo (16).png" width="160" height="53" alt="Logo">

					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<!-- <div class="close">+</div> -->
					<h2 style="font-weight: bold">RESULT</h2>

					<label for="candidate">Candidates List</label>
					<table class="table table-bordered" id="cadidateList-popUp">
						<thead>
							<tr>
								<th>Candidate Name</th>
								<th>Number of votes</th>
							</tr>
						</thead>

						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--POPUP END-->

	<!--CTA1 START-->
	<div class="cta-1">
		<div class="container">
			<div class="row text-center white">
				<h1 class="cta-title">Safe Security Save</h1>
				<p class="cta-sub-title">Why don't you create your own vote right now?</p>
			</div>
		</div>
	</div>
	<!--CTA1 END-->

	<!--VOTING INFO START-->
	<div id="information" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="page-title text-center">
					<h1>Voting Information</h1>
					<hr class="pg-titl-bdr-btm">
					</hr>
				</div>
				<div id="errormessage"></div>

				<div class="form-sec form-sec1">
					<form role="form" class="contactForm">
						<div class="col-md-12 form-group">
							<label for="voteAdd">Voting Detail:</label>
							<table class="table table-bordered">
								<tr>
									<th>Voting Name: </th>
									<td id="inforvtName"></td>
								</tr>
								<tr>
									<th>Voting Address</th>
									<td id="inforvtAddr"></td>
								</tr>
								<tr>
									<th>Creator Address</th>
									<td id="inforcreatorAddr"></td>
								</tr>
							</table>
							<div class="validation"></div>
						</div>

						<div class="col-md-12 form-group">
							<table>
								<tr>
									<td><label for="candidate">Candidates List &nbsp;</label></td>
									<td><label id="alertcheck" style="color: red;"></label></td>
								</tr>
							</table>
							<table class="table table-bordered" id="cadidateList">
								<thead>
									<tr>
										<th>Candidate Name</th>
										<th>Number of votes</th>
										<th>Your vote</th>
									</tr>
								</thead>

								<tbody>

								</tbody>
							</table>

						</div>

						<div class="col-md-12 form-group">
							<button class="button-medium" id="vote-submit" type="button" name="vote" onclick="clickVote()">Vote</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--VOTING INFO END-->
{% endblock %}