<!DOCTYPE html>
<html lang="en" class=" js no-touch">

<head>
  <title>Voting System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
  <script src="../static/js/jquery.min.js"></script>
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- dataTable -->
  <script src="../static/js/jquery.dataTables.min.js"></script>
  <script src="../static/js/dataTables.bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/dataTables.bootstrap.min.css" />
  <!-- datatimepicker -->
  <script src="../static/js/jquery.datetimepicker.full.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/jquery.datetimepicker.min.css" />
  <!-- font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/css/slick-team-slider.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="shortcut icon" href="../static/img/ico/logo (18).ico">
</head>

<body>
  <!--HEADER START-->
  <div class="main-navigation navbar-fixed-top">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
          <a href="index.html" class="brand" >
            <img src="../static/img/logo (15).png" width="150" height="49" alt="Logo"/>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="create-address.html">Generate Address</a></li>
            <li><a href="create-vote.html">Create Voting</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--HEADER END-->
	
  <div class="cta-1">
  	<div class="container">
  		<!-- div ảo không được xóa -->
  	</div>
  </div>

  <!--CREATE START-->
  <div id="create" class="section-padding">
  	<div class="container">
  		<div class="row">
  			<div class="page-title text-center ">
  				<h1>Generate An Address</h1>
          
  				<hr class="pg-titl-bdr-btm"></hr>
          <p>Click the button below to generate your blockchain wallet</p>
  			</div>
  			<div id="errormessage"></div>

  			<div class="form-sec form-sec1">
  				<form action="/generateaddr" method="post" role="form" class="addressForm" id="addressForm">
                     <table>

                    <div class="col-md-12">

                    <tr class=" form-group">
                    <!-- <div class="col-md-6 "> -->
                    <label for="publicKey">Public Key</label>
                    <input type="text" name="publicKey" class="form-control text-field-box field" id="publicKey" placeholder="Public Key" required value={{ PublicKey }}/>
                    <!-- </div> -->
                    </tr>
                    </div>
                    <tr class="col-md-6 form-group">
                      <label for="privateKey">Private Key</label>
                      <input type="text" name="privateKey" class="form-control text-field-box field" id="privateKey" placeholder="Private Key" required value={{ PrivateKey }}/>
                    </tr>
                    <tr class="col-md-6 form-group">
                      <label for="addressKey">Address</label>
                      <input type="text" name="addressKey" class="form-control text-field-box field" id="addressKey" placeholder="Address" required value={{ Address }}/>
                    </tr>

                    <div class="col-md-12 form-group">
                      <button class="button-medium" id="launch-submit" type="submit" name="launch" form="addressForm">Generate</button>

                      <div id="sendmessage">IMPORTANT<br>Don't share your private key with anyone!<br>Passphare: Liberty win century yellow groscery agent</div>
                      <!-- <p class="electionAdd" style="display: none; color: red;"></p> -->
                    </div>
                    </table>
                </form>
  			</div>
  		</div>
  	</div>
  </div>
  <!--CREATE END-->

  <!--FOOTER START-->
  <footer class="footer section-padding">
    <div class="container">
      <div class="row">
        <div style="visibility: visible; animation-name: zoomIn;" class="col-sm-12 text-center wow zoomIn">
          <h3>Follow us on</h3>
          <div class="footer_social">
            <ul>
              <li><a class="f_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="f_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="f_google" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="f_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!--- END COL -->
      </div>
      <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
  </footer>
  <div class="footer-bottom">
    <div class="container">
      <div style="visibility: visible; animation-name: zoomIn;" class="col-md-12 text-center wow zoomIn">
        <div class="footer_copyright">
          <p> © Copyright, All Rights Reserved.</p>
          <div class="">
            Designed by Voting System Design Team
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--FOOTER END-->

  <script src="../static/js/jquery.easing.min.js"></script>
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <script type="text/javascript" src="../static/js/slick.min.js"></script>
  <script type="text/javascript" src="../static/js/custom.js"></script>
  <script src="../static/contactform/contactform.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
<!-- JS END -->

</body>
</html>
